div {
  .container {
    .title {
      font-size: 42px;
      margin-top: 160px;
      font-family: 'Raleway', sans-serif; //this font created at src/assets/main.scss
    }
  }
  .cards_div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 190px;
  }
}
